<div class="container-book">
  <mat-card class="container-book__card">
      <mat-card-header>
          <mat-card-title>Book</mat-card-title>
          <mat-card-subtitle>Add a new book</mat-card-subtitle>
      </mat-card-header>
      <!--<img matCardImage src="Card wide image source">-->
      <mat-card-content class="container-book__card_content">
        <!-- Title -->
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="My new book" [(ngModel)]="book.title" maxlength="100">
        </mat-form-field>
        <!-- First Name -->
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Geraldo" [(ngModel)]="book.firstName" maxlength="50">
        </mat-form-field>
        <!-- Last Name -->
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput placeholder="Borges" [(ngModel)]="book.lastName" maxlength="50">
        </mat-form-field>
        <!-- ISBN -->
        <mat-form-field>
          <mat-label>ISBN</mat-label>
          <input matInput placeholder="" [(ngModel)]="book.ISBN" maxlength="80">
        </mat-form-field>
        <!-- Total copies -->
        <mat-form-field>
          <mat-label>Total copies</mat-label>
          <input matInput placeholder="10" type="number" [(ngModel)]="book.totalCopies" maxlength="9" min="0" max="999999999">
        </mat-form-field>
        <!-- Category -->
        <app-select-book-category [selectedBookCategory]="book.category" (newSelectedBookCategoryEvent)="getSelectedCategory($event)" />
        <!-- Type -->
        <app-select-book-type [selectedBookType]="book.type" (newSelectedBookTypeEvent)="getSelectedType($event)" />
        <!-- Author -->
        <app-select-author [selectedAuthorId]="book.authorId.toString()" (newSelectedAuthorIdEvent)="getSelectedAuthorId($event)"/>
        <!-- Publisher -->
        <app-select-publisher [selectedPublisherId]="book.publisherId.toString()" (newSelectedPublisherIdEvent)="getSelectedPublisherId($event)"  />
      </mat-card-content>
      <mat-card-actions align="start" class="container-book__card__buttons">
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
        <button mat-button routerLink="/books/search">Cancel</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
  </mat-card>
</div>
