.container {
  padding: 32px;
  min-width: 700px;
}

.container_title {
  width: max-content;
  margin: auto;
  text-align: center;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
}

.container_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 1rem;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
}
