.container-book {
  width: 640px;
}
.container-book__card {
  padding: 24px;
  width: 100%;
}
.container-book__card__buttons {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: end;
}
.container-book__card_content {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
